@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');


:root {
    --primary: #66ff48;
    --bg: #1d1d1d;
}

* {
    font-family: "Fira Code", monospace;
}

body {
    background-color: var(--bg);
    color: aliceblue;
}

.nft {
    max-width: 190px;
    min-width: 18%;
    min-height: 18%;
    margin-left: 17px;
    margin-right: 17px;
    margin-top: 35px;
}

@media (max-width: 600px) {
    .nft {
        max-width: 270px;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
}

.text-main {
    margin-top: 20px;
}

.link {
    color: var(--primary);
    text-decoration: none;
}

.link:hover {
    color: var(--primary);
    text-decoration: underline;
}

.button:hover {
    text-decoration: none;
    background-color: var(--primary);
    color: var(--bg);
}

.button-dw {
    text-decoration: none;
    background-color: var(--primary);
    color: var(--bg);

}

.button-dw:hover {
    background-color: var(--bg);
    color: var(--primary);
}